<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
<xi:include href="../site.html" />
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>${c.project}: Open tickets</title>
    <script type="text/javascript">
      $(function(){
        $('#dvdev-issuedb').tabs();
        $('ul.dvdev.issues li')
            .draggable({revert: true});
      });
    </script>
    <style type="text/css">
.ui-tabs .ui-tabs-hide {
     display: none;
}
</style>
</head><body>

<h1 class="page_title">Wiki</h1>

<py:replace value="Markup(c.page_html['body_pre_docinfo'])" />
<div py:content="Markup(c.page_html['body'])" />
<form method="POST">
    <label for="page_text">Page markup</label>
    <textarea name="page_text">${c.page_text}</textarea>
    <input type="submit" value="Update Page" />
</form>

</body></html>

