<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
<xi:include href="../site.html" />
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>${c.project}: Open tickets</title>
    <script type="text/javascript">
      $(function(){
        $('#dvdev-issuedb').tabs({selected: ${c.issues.keys().index(c.project)}});
        $('ul.dvdev.issues li')
            .draggable({revert: true});
        $('fieldset.dvdev.group').droppable({
            drop: function(ev, ui) {
                // We receive drop events for letting go, so we have to filter
                // those out.
                var ticket = ui.draggable;
                var oldgroup = $(ticket).parents('fieldset');
                var newgroup = $(this);
                if (oldgroup.children('legend').text() == newgroup.children('legend').text()) {
                    // This is a drage within the container.
                    return false;
                }
                var ticketid = ticket.get(0).id;
                $(newgroup).children('ul').append(ticket);
                var edit_url = "${url(controller='issues', action='edit', repository=c.project, id='')}"
                edit_url += ticketid;
                $.post(edit_url, {group: newgroup.children('legend').text()})

                // Now to dispatch this via ajax...
            }
        });
      });
    </script>
    <style type="text/css">
.ui-tabs .ui-tabs-hide {
     display: none;
}
</style>
</head><body>

<h1 class="page_title">Issues</h1>

<div class="dvdev appnav">
    <ul>
    </ul>
</div>
<div id="dvdev-issuedb">
    <ul>
        <li py:for="dbindex, issuedb in enumerate(c.issues)"><a href="#tabs-${dbindex}">${issuedb}</a></li>
    </ul>
    <div id="tabs-${dbindex}" py:for="dbindex, (repo, issuedb) in enumerate(c.issues.iteritems())">
        <a href="${url.current(repository=issuedb, action='new')}">New Issue</a>
        <fieldset class="dvdev group" py:for="group, issues in issuedb.iteritems()">
            <legend py:if="group">${group}</legend>
            <ul class="dvdev issues">
                <py:for each="issueid, issue in issues.iteritems()">
                  <li id="${issueid}" class="${issue.get('estimate',{}).get('scale')}"><a href="${url.current(repository=repo, action='show',id=issueid)}">${issueid[:12]}</a><p>${issue.get('title')}</p><p class="dvdev estimate">${issue.get('estimate',{}).get('text')}</p></li>
                </py:for>
            </ul>
        </fieldset>
    </div>
</div>
<div class="dvdev toolset">
    <ul>
        <li id="high">High Priority</li>
        <li id="medium">Medium Priority</li>
        <li id="low">Low Priority</li>
    </ul>
</div>

</body></html>

