<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
<xi:include href="../site.html" />
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>${c.project}: Open tickets</title>
    <script type="text/javascript">
      $(function(){
        $('#dvdev-issuedb').tabs();
        // $('#dvdev-issuedb').tabs({selected: ${c.issues.keys().index(c.project)}});
        $('ul.dvdev.issues')
            .sortable();
      });
    </script>
    <style type="text/css">
.ui-tabs .ui-tabs-hide {
     display: none;
}
</style>
</head><body>

<h1 class="page_title">Issues</h1>

<div class="dvdev appnav">
    <ul>
    </ul>
</div>
<div id="dvdev-issuedb">
    <ul>
        <li py:for="issuedb in enumerate(c.issues)"><a href="#tabs-${issuedb[0]}">${issuedb[1]}</a></li>
    </ul>
    <div id="tabs-${issuedb[0]}" py:for="issuedb in enumerate(c.issues)">
        <a href="${url.current(repository=issuedb[1], action='new')}">New Issue</a>
        <ul class="dvdev issues">
            <py:for each="issue in c.issues[issuedb[1]].iteritems()">
              <li class="${issue[1]['estimate']['scale']}"><a href="${url.current(repository=issuedb[1], action='show',id=issue[0])}">${issue[0][:12]}</a><p>${issue[1]['title']}</p><p class="dvdev estimate">${issue[1]['estimate']['text']}</p></li>
            </py:for>
        </ul>
    </div>
</div>

</body></html>

